@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website uses industry standard practices</p>
<p>If you have privacy concerns please contact: chakarov.ilia@gmail.com</p>