@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web app is open source and available on GitHub: https://github.com/OGSmurfen/PapaSmurfieGamesWEB.git</p>
<p>If you have privacy concerns please contact at email: chakarov.ilia@gmail.com</p>