@model GameModel


<div style="position: relative; width: 800px; height: 1800px; margin: auto;">
    <iframe src="~/@Model.GameURL" width="800px" height="1800px"
            style="transform: scale(0.4); transform-origin: center top; border: none;"
            scrolling="no"></iframe>
</div>

